<div class="container">
    <div class="row">
        <h3>Tasks</h3>
        <paging>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
                <tr ng-repeat="item in records">
                    <td>{{item.id}}</td>
                    <td><a href="#/task/{{item.id}}">{{item.description}}</a>
                    </td>
                    <td>{{item.manager.name}}</td>
                </tr>
            </table>
            <ul class="pagination"
                num-pages="totalPages"
                current-page="currentPage"
                on-select-page="getAllRecords(currentPage)">
                <li ng-class="{disabled: noPrevious()}">
                    <a href="#/tasks/1" ng-click="getAllRecords(1)">First</a>
                </li>
                <li ng-class="{disabled: noPrevious()}">
                    <a href="#/tasks/{{currentPage - 1}}">Previous</a>
                </li>
                <li ng-repeat="page in range"
                    ng-class="{active: isActive(page)}">
                    <a href="#/tasks/{{page}}">{{page}}</a>
                </li>
                <li ng-class="{disabled: noNext()}">
                    <a href="#/tasks/{{currentPage + 1}}">Next</a>
                </li>
                <li ng-class="{disabled: noNext()}">
                    <a href="#/tasks/{{totalPages}}">Last</a>
                </li>
            </ul>
        </paging>
    </div>
</div>





