<div class="container">
    <div class="row">
        <h3>{{task.id}}</h3>
        <div>
            {{task.description}}
            <br /><br />
            <a href="#/taskedit/{{item.id}}">Редактировать</a> &nbsp;&nbsp;<a href="#/taskdelete/{{item.id}}">Удалить</a>
        </div>
    </div>
</div>