
<div class="container">
    <div class="row">
        <h3>Timesheet</h3>
        <paging>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th>Spent time, hours</th>
                </tr>
                <tr ng-repeat="item in records">
                    <td>{{item.id}}</td>
                    <td><a href="#/timesheet/{{item.id}}">{{item.task.description}}</a></td>
                    <td>{{item.hours}}</td>
                </tr>
            </table>
            <ul class="pagination"
                num-pages="totalPages"
                current-page="currentPage"
                on-select-page="getAllRecords(currentPage)">
                <li ng-class="{disabled: noPrevious()}">
                    <a href="#/timesheets/1" ng-click="getAllRecords(1)">First</a>
                </li>
                <li ng-class="{disabled: noPrevious()}">
                    <a href="#/timesheets/{{currentPage - 1}}">Previous</a>
                </li>
                <li ng-repeat="page in range"
                    ng-class="{active: isActive(page)}">
                    <a href="#/timesheets/{{page}}">{{page}}</a>
                </li>
                <li ng-class="{disabled: noNext()}">
                    <a href="#/timesheets/{{currentPage + 1}}">Next</a>
                </li>
                <li ng-class="{disabled: noNext()}">
                    <a href="#/timesheets/{{totalPages}}">Last</a>
                </li>
            </ul>
        </paging>
    </div>
</div>









